<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~  @description: SysMenuMapper.xml
  ~
  ~  @author: xswang
  ~  @email: wxs_code@126.com
  ~  @version: 1.0
  ~  @last update: 2024/12/20 上午10:27
  ~  @date: 2024-12-20 10:28
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.code.system.sysmenu.mapper.SysMenuMapper">

</mapper>