<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~  @description: SysDictItemMapper.xml
  ~
  ~  @author:  xswang
  ~  @email: wxs_code@126.com
  ~  @version: 1.0
  ~  @last update: 2025-02-14 15:59:26
  ~  @date: 2025-02-14 15:59:26
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxs.code.system.sysdictitem.mapper.SysDictItemMapper">

</mapper>